<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">


<style>
html
{
  scroll-behavior: smooth;
  cursor: crosshair;
}

.paral-1 
{
  width: 100%;
  height: 585px; 
  background-image: url("/static/bg3.jpg");
  background-attachment:fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
.paral-1 img
{
  margin-left: 33%;
  height: 250px;
  background-attachment: fixed;
}
</style>

<script>

    function home()
    {
        window.open("/Project.html","_self")
    }

    function back()
    {
        window.open("http://127.0.0.1:5000/article","_self")
    }

</script>

</head>

<body>
<div class="paral-1">
    <img src="/static/article.png">  
    <textarea name="OutputArticle" style="resize: none; width: 50%; height: 30%; margin-top: 30px; margin-left: 25%; font-size: 25px; font-family: Verdana, Geneva, Tahoma, sans-serif; border-radius: 10px; text-align: center; color: black; padding-top: 75px; background-color: white; opacity: 80%;" disabled>{{p}}</textarea>
    <div>
      <button style="width: 25%; height: 50px; margin-left: 25%; font-size: 19px;" onclick="home()">Back To Home Page</button>
      <button style="width: 25%; height: 50px; margin-top: 20px; font-size: 19px;" onclick="back()">Analyze Again</button>
    </div>
</div>


</body>
</html>

